<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>life changer</title>
    <link rel="stylesheet">
</head>
<body>
    <div class="container">
      <h1>Recipes</h1>
        {% for recipe in recipes %}
            <img src="{{ recipe.image }}" alt="Recipe Image" width="200px" height="200px"/>
            <h2>{{ recipe.name }}</h2>
            <p><strong>Description </strong>: {{recipe.description}}</p>
            <p><strong>Ingredients </strong>: {{recipe.ingredients}}</p>
            <p><strong>How to make {{recipe.name}} </strong>: {{recipe.how_to_prepare}}</p>

            <button class="delete-recipe-button">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">Delete Recipe</a>
            </button> <br><br>

        {% endfor %}
        <button class="add-recipe-button">
            <a href="{{ url_for('add_recipe')}}">Add Recipe</a>
        </button>
    </div>
</body>
</html>
